.SettingStyles {
    width: 95%;
    margin: 0px auto 50px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    
    &>div {
        
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &>div:nth-child(1){
        transform: scale(0.4);
        
        
    }
    &>div:nth-child(2){
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: space-evenly;
        padding-right: 10px;
        
    }
}