.ButtonComponent {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    color: blue;
    cursor: pointer;
}

.BtnSucc {
    background-color: blue;
    color: white;
}

.BtnErr {
    background-color: red;
    color: white;
}

.PageBox {
    width: 30%;
    box-shadow: 0px 0px 15px rgb(180, 179, 179);
    border-radius: 10px;

    transition: .1s linear;
    cursor: pointer;
    color: rgb(0, 0, 0);

    font-size: 30px;
    font-weight: bold;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
       
        margin-top: 50px;
        width: 100px;
        height: 100px;
        
    }

    &:hover {
        transform: scale(1.05);

    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.SuraPageBox {
    max-width: 400px;
    min-width: 250px;
    box-shadow: 0px 0px 15px rgb(180, 179, 179);
    border-radius: 10px;
    padding: 20px;
    transition: .1s linear;
    cursor: pointer;
    color: black;

    &:hover {
        transform: scale(1.01);
        background-color: rgb(0, 4, 54);
        color: white;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Container {
    width: 1300px;
    margin: 0px auto;
    position: relative;
    padding: 10px;
}

.FlexBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Sarlavha {
    width: 100%;

    ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;

        li {
            text-decoration: none;
            list-style: none;
            font-size: 18px;
            color: blue;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.Audioplaer {
    width: 48%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &>div {
        width: 80%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 6px rgb(180, 179, 179);

        img {
            object-fit: cover;
        }
    }

    &>span {
        width: 80%;
        // padding: 10px 0px 0px;
        font-size: 15px;
        font-weight: 600;
    }

    &>ul {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // background-color: blue;
        padding: 5px 20px;
        border-radius: 100px;
        box-shadow: 0px 0px 15px rgb(180, 179, 179);
        margin: 0px;

        li {
            text-decoration: none;
            list-style: none;
            // background-color: rgb(0, 0, 109);

            width: 40px;
            height: 40px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            color: blue;
            cursor: pointer;

            &:hover {
                background-color: rgb(135, 135, 240);
                color: rgb(1, 1, 175);
            }
        }
    }


}

.Playlist {
    width: 46%;
    height: 300px;

    box-shadow: 0px 0px 10px rgb(209, 208, 208);
    border-radius: 10px;
    padding: 10px;
    transition: .1s linear;

    h4 {
        padding: 0px;
        margin: 0px;
    }

    &>div {
        overflow-y: scroll;
        height: 250px;
        margin-top: 15px;

        ul {
            padding: 0px;
            margin: 0px;
            transition: .1s linear;

            li {
                text-decoration: none;
                box-shadow: 0px 0px 5px rgb(209, 208, 208);
                padding: 10px;
                margin: 5px;
                border-radius: 5px;
                color: black;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                transition: .1s linear;

                &:hover {
                    transform: scale(1.025);
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    background-color: rgb(135, 135, 240);
                    ;
                }
            }
        }

        &>div {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: blue;
        }

        &::-webkit-scrollbar {
            width: 2px;
            border: 2px;


        }
    }

}

.Activeaudio {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(135, 135, 240);
}

.Navbar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {

        display: flex;
        gap: 10px;

        ul {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            margin: 0;

            li {
                margin: 0;
                font-size: 18px;
                font-weight: bold;
                color: rgb(0, 4, 54);
                list-style: none;
                cursor: pointer;

            }
        }
    }



}

@media screen and (max-width:600px) {
    .Container {
        width: 100%;
    }

}